<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>SMS WEB API</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script type="text/javascript" src="/soho_template/scripts/cufon.js"></script>
    <script type="text/javascript" src="/javascripts/rainbow-custom.min.js"></script>
    <script src="/soho_template/scripts/TeXGyreAdventor_400.font.js" type="text/javascript"></script>
    <script type="text/javascript">
      Cufon.replace('h1,h2,h3,h4');
      Cufon.replace('#menu #nav li');
    </script>
    <script type="text/javascript" src="/soho_template/scripts/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/soho_template/styles/reset.css" />
    <link type="text/css" rel="stylesheet" href="/soho_template/styles/960.css" />
    <link type="text/css" rel="stylesheet" href="/soho_template/styles/style.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/blackboard.css" />
    <style>
      #copy{
        cursor: pointer;
        color: red !important;
        font-size: 14pt;
      }

      input[type="text"], input[type="password"], input[type="email"] {
        border: 1px solid #cccccc;
        height: 22px;
        width: 295px;
      }

      #contact_form label {
        width: 116px;
      }

      #error{
        color: red !important;
        text-align: right;
      }

      .star{
        color: red;
        font-weight: bold;
        font-size: 14pt;
      }

      #contact_form textarea {
        width: 294px;
      }

      #menu{
        width: 80%;
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <div class="container_12">
      <div id="header-pages" class="grid_12">
        <!--<div id="logo" class="grid_4 alpha"></div>-->
        <div id="menu" class="grid_8 omega">
          <ul id="nav">
            <li><a href="/" id="home" >Home</a></li>
            <li><a href="/documentation" id="documentation">How to</a></li>
            <li><a href="/sign_up" id="signup">Sign up</a></li>
            <li><a href="/sms_web" id="smsweb">SMS web</a></li>
            <li><a id="contact" href="/contact">Contact</a></li>
            <% if session[:user].blank? %>
              <li class="last"><a href="/login" id="login">Login</a></li>
            <% else %>
              <li class="last"><a href="/my_account" id="login">My Account</a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <!-- End of Header -->
    <!-- Main Section -->
    <div class="main-section">
      <div class="container_12 ">
        <%= yield %>
        <div class="grid_6">
          <h1>Contact Details</h1>
          <p><img src="/soho_template/images/phone.png" alt="" /> Office Tel: &nbsp;</p>
          <p><img src="/soho_template/images/print.png" alt="" /> Fax No: &nbsp;</p>
          <p><img src="/soho_template/images/email.png" alt="" /> E-mail: &nbsp;</p>
        </div>
      </div>


      <div class="clear"></div>


    </div><br /><br /><br /><br /><br />
    <div id="content" class="shadow">
      <div class="container_12">
        <div class="grid_3">
          <h1>Introducing SMS API</h1>
          <p> We are happy to introduce an SMS API for sending SMS for free. YES you heard it its free. Offering a simple way to web developers send <b>FREE SMS</b> to your clients. Click <a href="#">here</a> to learn more
            We understand that developers are always busy working on logic
          </p>
        </div>
        <div class="grid_3 new-bullets">
          <h1>Why use this API?</h1>
          <ul>
            <li>Free. <b>YES</b> that's true!!</li>
            <li>Too easy to use. In less than one minute you are done</li>
            <li>Reliable - Messages are delivered on time</li>
            <li>Batch messages are supported</li>
            <li>You can ask our support team whenever you have a query</li>
          </ul>
        </div>
        <div class="grid_3">
          <h1>Browser Love</h1>
          <p> Works in all major browsers out there.<br />
            IE7/8, Firefox, Opera, Chrome and Safari. </p>
          <img src="/soho_template/images/browsers.png" alt="" /> </div>
        <div class="grid_3 new-bullets">
          <h1>Sample Code</h1>
          <p> Find below on how you can use the API in your code: </p>
          <ul>
            <li><a href="/documentation#python">Python</a> </li>
            <li><a href="/documentation#ruby-on-rails">Ruby on Rails</a></li>
            <li><a href="/documentation#php">PHP</a> </li>
            <li><a href="/documentation#java">Java</a> </li>
            <li><a href="/documentation#node">Node.js</a> </li>
            <li><a href="/documentation#perl">Perl</a> </li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div class="container_12 testimonials"> <span class="testimonial-message">&ldquo;Life is really simple, but we insist on making it complicated.&rdquo;</span> ― Confucius </div>
      <div class="clear"></div>

      <div class="clear"></div>
    </div>
    <!-- End of Main Section -->
    <!-- Footer -->
    <div id="footer">
      <div class="container_12">
        <div class="grid_3">
          <h1>Browse</h1>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/documentation">How To</a></li>
            <li><a href="/sign_up">Sign up</a></li>
            <li><a href="/sms_web">SMS web</a></li>
            <% if session[:user].blank? %>
              <li><a href="/login">Login</a></li>
            <% else %>
              <li><a href="/my_account">My Account</a></li>
            <% end %>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>

        <div class="grid_3">
          <h1>Source code</h1>
          <ul>
            <li><a href="/documentation#python">Python</a> </li>
            <li><a href="/documentation#ruby-on-rails">Ruby on Rails</a></li>
            <li><a href="/documentation#php">PHP</a> </li>
            <li><a href="/documentation#java">Java</a> </li>
            <li><a href="/documentation#node">Node.js</a> </li>
            <li><a href="/documentation#perl">Perl</a> </li>
          </ul>
        </div>
        <div class="grid_3">
          <h1>Keep in touch</h1>
          <ul class="social-icons">
            <li><a href="#"><img src="/soho_template/images/facebook_32.png" alt="" /></a></li>
            <li><a href="#"><img src="/soho_template/images/twitter_32.png" alt="" /></a></li>
            <!--<li><a href="#"><img src="/soho_template/images/rss_32.png" alt="" /></a></li>
            <li><a href="#"><img src="/soho_template/images/email_32.png" alt="" /></a></li>-->
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>

    <<!-- End of Footer -->
    <div class="clear"></div>
    <div id="tail">
      <div class="container_12">Copyright &copy; <a href="#">webTechmw.com</a> - All Rights Reserved | Design By <a target="_blank" href="#">WebTech++</a></div>
    </div>
  </body>
</html>



<script type="text/javascript">
  //jQuery('#signup').addClass('active');

  function CopyToClipboard(containerid) {
    if (document.selection) {
      var range = document.body.createTextRange();
      range.moveToElementText(document.getElementById(containerid));
      range.select().createTextRange();
      document.execCommand("Copy");

    } else if (window.getSelection) {
      var range = document.createRange();
      range.selectNode(document.getElementById(containerid));
      window.getSelection().addRange(range);
      document.execCommand("Copy");
      alert("text copied")
    }}
</script>